        :root {
            --panel-bg-color: #000000;
            --sidebar-title-color:#53ade9;
            --sidebar-text-color:#ffffff;
            --main-bg-color:#ffffff;
            --red-color:#FB6D3A;
            --container-bg-color: #c5c0c7;
            --title-color:#0e0e0f;
            --text-color: #2f3542;
            --years-color: #a58282;
        }

        :root[theme='dark'] {
            --panel-bg-color: #130d0d;
            --sidebar-title-color: #d3d3d3;
            --sidebar-text-color: #ffcdcd;
            --main-bg-color: #2e2e2e;
            --red-color: #3afb8a;
            --container-bg-color: #00000000;
            --title-color: #1802da;
            --text-color: #c0b5b5;
            --years-color: #A8A8A8;
        }
body {
    font-family: 'Montserrat', sans-serif;
    background: var(--container-bg-color);
    color: var(--text-color);
}
.toggle-theme
{
    display: flex;
    flex-direction: row-reverse;
}
.main {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background: var(--main-bg-color);
    padding: 104px 88px;
}

/* about-user styles*/
.about {
    margin-bottom: 40px;
}

.about-position {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.about-name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: var(--title-color);
    margin-bottom: 24px;
}

.about-discr {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
    width: 400px;
}

/* projects-styles */
.project {
    width: 488px;
    margin-bottom: 56px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--title-color);
    margin-bottom: 8px;
}

.proj-list {
    padding: 0;
    margin-left: 15px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

.projects {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

.projects-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
    margin-left: 16px;
}

.proj-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

/* work-styles */
/* .work {} */

.work-pos {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.org {
    color: var(--red-color);
}

.work-years {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--years-color);
    margin-bottom: 8px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color);
}

.work-list {
    padding: 0;
    margin-left: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
    width: 525px;
}

.work-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}


/* education-styles */
.edu-univ {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--red-color);
    margin-bottom: 10px;
}

/* download section */
.download {
    padding: 20px
}

.download a {
    /* background: #1E2939; */
    text-decoration: none;
    padding-top: 4px;
    /* color: #3afb64; */
}


/* side bar */
.sidebar {
    background: var(--panel-bg-color);
    /* background: #1E2939; */
    width: 370px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--sidebar-title-color);
    margin-bottom: 8px;
}

.img-style {
    margin-top: 40px;
    margin-bottom: 50px;
}

.sidebar-contacts,
.techskills {
    margin-left: 44px;
}

.techskills {
    margin-bottom: 44px;
    margin-top: 48px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color:var(--sidebar-text-color);
    margin-right: 8px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6ae970;
}

.list {
    padding: 0;
    margin-left: 16px;
}

.list-text {
    color: var(--sidebar-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.listDots {
    color: var(--red-color);
}